{
  "openapi": "3.0.0",
  "info": {
    "title": "ScreenConnect",
    "version": "24.1.7.8892"
  },
  "servers": [
    {
      "url": "https://geeeeker.screenconnect.com/"
    }
  ],
  "paths": {
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/command-to-session/send": {
      "post": {
        "operationId": "SendCommandToSession",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "command": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/message-to-session/send": {
      "post": {
        "operationId": "SendMessageToSession",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "byHost": {
                    "type": "string",
                    "format": ""
                  },
                  "message": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/note-to-session": {
      "post": {
        "operationId": "AddNoteToSession",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "noteBody": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/session": {
      "post": {
        "operationId": "CreateSession",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionType": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "name": {
                    "type": "string",
                    "format": ""
                  },
                  "isPublic": {
                    "type": "boolean",
                    "format": ""
                  },
                  "code": {
                    "type": "string",
                    "format": ""
                  },
                  "customPropertyValues": {}
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/session-by-session-id": {
      "get": {
        "operationId": "GetSessionBySessionID",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/session-custom-properties": {
      "put": {
        "operationId": "UpdateSessionCustomProperties",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "newCustomProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/session-details-by-session-id": {
      "get": {
        "operationId": "GetSessionDetailsBySessionID",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/session-name": {
      "put": {
        "operationId": "UpdateSessionName",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "newName": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/sessions-by-filter": {
      "get": {
        "operationId": "GetSessionsByFilter",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionFilter",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/sessions-by-name": {
      "get": {
        "operationId": "GetSessionsByName",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionName",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/2d558935-686a-4bd0-9991-07539f5fe749/Service.ashx/toolbox-item-to-session/send": {
      "post": {
        "operationId": "SendToolboxItemToSession",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "toolboxItemName": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/App_Extensions/6fadbbb8-9540-4612-8504-937c5083bca7/Service.ashx/all-queued-commands": {
      "delete": {
        "operationId": "RemoveAllQueuedCommands",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AppearanceService.ashx/resource": {
      "put": {
        "operationId": "SaveResource",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerAppearance\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "resourceType": {
                    "type": "string",
                    "format": ""
                  },
                  "key": {
                    "type": "string",
                    "format": ""
                  },
                  "isImage": {
                    "type": "boolean",
                    "format": ""
                  },
                  "overrideValuesByCultureKey": {}
                }
              }
            }
          }
        }
      }
    },
    "/Services/AppearanceService.ashx/resource-info": {
      "get": {
        "operationId": "GetResourceInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerAppearance\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AppearanceService.ashx/theme": {
      "put": {
        "operationId": "SetTheme",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "themeName": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AppearanceService.ashx/theme-info": {
      "get": {
        "operationId": "GetThemeInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuditService.ashx/audit-info": {
      "get": {
        "operationId": "GetAuditInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuditService.ashx/audit-level/apply": {
      "post": {
        "operationId": "ApplyAuditLevel",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "auditLevel": {
                    "type": "integer",
                    "format": "int64"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuditService.ashx/audit-log/query": {
      "post": {
        "operationId": "QueryAuditLog",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "minTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "maxTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "sessionName": {
                    "type": "string",
                    "format": ""
                  },
                  "shouldIncludeSessionCaptures": {
                    "type": "boolean",
                    "format": ""
                  },
                  "sessionEventTypes": {},
                  "securityEventTypes": {}
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/external-login-url": {
      "get": {
        "operationId": "GetExternalLoginUrl",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "providerName",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "applicationBaseUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "returnUrl",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "loginHint",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/login/try": {
      "post": {
        "operationId": "TryLogin",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✔\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userName": {
                    "type": "string",
                    "format": ""
                  },
                  "password": {
                    "type": "string",
                    "format": ""
                  },
                  "oneTimePassword": {
                    "type": "string",
                    "format": ""
                  },
                  "shouldTrust": {
                    "type": "boolean",
                    "format": ""
                  },
                  "securityNonce": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/logout/try": {
      "post": {
        "operationId": "TryLogout",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/password/change": {
      "post": {
        "operationId": "ChangePassword",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✔\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userName": {
                    "type": "string",
                    "format": ""
                  },
                  "currentPassword": {
                    "type": "string",
                    "format": ""
                  },
                  "newPassword": {
                    "type": "string",
                    "format": ""
                  },
                  "verifyNewPassword": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/password-reset/initiate": {
      "post": {
        "operationId": "InitiatePasswordReset",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userName": {
                    "type": "string",
                    "format": ""
                  },
                  "securityNonce": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/AuthenticationService.ashx/reset-password/try": {
      "post": {
        "operationId": "TryResetPassword",
        "deprecated": false,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✔\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✔\n* ShouldImposeOperationLimit: ✔\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "resetCode": {
                    "type": "string",
                    "format": ""
                  },
                  "userName": {
                    "type": "string",
                    "format": ""
                  },
                  "newPassword": {
                    "type": "string",
                    "format": ""
                  },
                  "verifyNewPassword": {
                    "type": "string",
                    "format": ""
                  },
                  "securityNonce": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/DatabaseService.ashx/action": {
      "put": {
        "operationId": "SaveAction",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerDatabase\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "action": {}
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteAction",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerDatabase\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "actionID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/DatabaseService.ashx/configuration": {
      "get": {
        "operationId": "GetConfiguration",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerDatabase\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/DatabaseService.ashx/schedule": {
      "put": {
        "operationId": "SaveSchedule",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: AdministerDatabase\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "runAtUtcTimeMinutes": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "daysIncludedOrExcluded": {
                    "type": "boolean",
                    "format": ""
                  },
                  "days": {}
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/extension/install": {
      "post": {
        "operationId": "InstallExtension",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "packageContent": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/extension/uninstall": {
      "post": {
        "operationId": "UninstallExtension",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "extensionID": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/extension-enabled": {
      "put": {
        "operationId": "SetExtensionEnabled",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "extensionID": {
                    "type": "string",
                    "format": ""
                  },
                  "enabledOrDisabled": {
                    "type": "boolean",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/extension-infos": {
      "get": {
        "operationId": "GetExtensionInfos",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/extension-setting-values": {
      "put": {
        "operationId": "SaveExtensionSettingValues",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "extensionID": {
                    "type": "string",
                    "format": ""
                  },
                  "settingValues": {}
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/instance-user-info": {
      "get": {
        "operationId": "GetInstanceUserInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/ExtensionService.ashx/review/sign": {
      "post": {
        "operationId": "SignReview",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "reviewComment": {
                    "type": "string",
                    "format": ""
                  },
                  "reviewerDisplayName": {
                    "type": "string",
                    "format": ""
                  },
                  "reviewRating": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/LicenseService.ashx/basic-license-capabilities": {
      "get": {
        "operationId": "GetBasicLicenseCapabilities",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/LicenseService.ashx/license": {
      "post": {
        "operationId": "AddLicense",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "userString": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "RemoveLicense",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "licenseID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/LicenseService.ashx/license-info": {
      "get": {
        "operationId": "GetLicenseInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/LicenseService.ashx/upgrade-url": {
      "get": {
        "operationId": "GetUpgradeUrl",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/MailService.ashx/email/send": {
      "post": {
        "operationId": "SendEmail",
        "deprecated": false,
        "summary": "Known to require authentication",
        "description": "* DemandsAnyPermission: ✔\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "to": {
                    "type": "string",
                    "format": ""
                  },
                  "subjectResourceBaseNameFormat": {
                    "type": "string",
                    "format": ""
                  },
                  "subjectResourceNameFormatArgs": {},
                  "subjectResourceFormatArgs": {},
                  "bodyResourceBaseNameFormat": {
                    "type": "string",
                    "format": ""
                  },
                  "bodyResourceNameFormatArgs": {},
                  "bodyResourceFormatArgs": {},
                  "isBodyHtml": {
                    "type": "boolean",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/MailService.ashx/mail-configuration": {
      "put": {
        "operationId": "SaveMailConfiguration",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✔\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "defaultMailFromAddress": {
                    "type": "string",
                    "format": ""
                  },
                  "smtpRelayServerHostName": {
                    "type": "string",
                    "format": ""
                  },
                  "defaultMailToAddress": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/MailService.ashx/mail-configuration-info": {
      "get": {
        "operationId": "GetMailConfigurationInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✔\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/MailService.ashx/test-email/send": {
      "post": {
        "operationId": "SendTestEmail",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✔\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "from": {
                    "type": "string",
                    "format": ""
                  },
                  "relayHost": {
                    "type": "string",
                    "format": ""
                  },
                  "to": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/OverviewService.ashx/overview-info": {
      "get": {
        "operationId": "GetOverviewInfo",
        "deprecated": false,
        "summary": "Known required permission: Administer",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: Administer\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/access-token": {
      "get": {
        "operationId": "GetAccessToken",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionGroupPathPartsOrName",
            "in": "query",
            "schema": {}
          },
          {
            "name": "sessionID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/activity/notify": {
      "post": {
        "operationId": "NotifyActivity",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/delegated-access-token": {
      "get": {
        "operationId": "GetDelegatedAccessToken",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "sessionGroupPathPartsOrName",
            "in": "query",
            "schema": {}
          },
          {
            "name": "sessionID",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          },
          {
            "name": "sessionPermissions",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "expireSeconds",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "memo",
            "in": "query",
            "schema": {
              "type": "string",
              "format": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/distinct-custom-property-values": {
      "get": {
        "operationId": "GetDistinctCustomPropertyValues",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "customPropertyIndices",
            "in": "query",
            "schema": {}
          },
          {
            "name": "sessionType",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/eligible-hosts": {
      "get": {
        "operationId": "GetEligibleHosts",
        "deprecated": true,
        "summary": "Known to require authentication",
        "description": "* DemandsAnyPermission: ✔\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/feedback/send": {
      "post": {
        "operationId": "SendFeedback",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "rating": {
                    "type": "string",
                    "format": ""
                  },
                  "comments": {
                    "type": "string",
                    "format": ""
                  },
                  "email": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/initiated-join/log": {
      "post": {
        "operationId": "LogInitiatedJoin",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionID": {
                    "type": "string",
                    "format": ""
                  },
                  "processType": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "data": {
                    "type": "string",
                    "format": ""
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/live-data": {
      "get": {
        "operationId": "GetLiveData",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✔\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [
          {
            "name": "requestInfoMap",
            "in": "query",
            "schema": {}
          },
          {
            "name": "version",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/session": {
      "post": {
        "operationId": "CreateSession",
        "deprecated": true,
        "summary": "",
        "description": "* DemandsAnyPermission: ✖\n* DemandPermissionNames: \\<empty\\>\n* DemandLicenseCapabilities: None\n* ShouldAllowInvalidAntiForgeryToken: ✖\n* ShouldTraceActivity: ✖\n* ShouldTraceActivityReturnValue: ✖\n* ShouldImposeOperationLimit: ✖\n* AccessControlOriginFilter: \\<empty\\>",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          },
          "default": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errorType": {
                      "type": "string",
                      "format": ""
                    },
                    "message": {
                      "type": "string",
                      "format": ""
                    },
                    "detail": {
                      "type": "string",
                      "format": ""
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "sessionType": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "name": {
                    "type": "string",
                    "format": ""
                  },
                  "isPublic": {
                    "type": "boolean",
                    "format": ""
                  },
                  "code": {
                    "type": "string",
                    "format": ""
                  },
                  "customPropertyValues": {}
                }
              }
            }
          }
        }
      }
    },
    "/Services/PageService.ashx/session-code": {
      "put": {
[...]
